@charset "EUC-KR";
h1{
	position: absolute;
    top: 40px;
    transform: rotate(-30deg);
    color: steelblue;
}
.addnewbtn {
    position: absolute;
    right: 20px;
    font-weight: 600;
    top:50px;
    color: white;
    background: steelblue;
    padding: 15px 40px;
}
.addnewbtn>a {
    text-decoration: none;
    color: white;
}
.wrapper {
    position: absolute;
    right: 20px;
    top: 150px;
    display: grid;
    width: 1350px;
    grid-gap: 20px;
    height: 580px;
    grid-template-columns: 1fr 1fr 1fr;
}
.title {
    padding: 20px;
    background: #044F67;
    color: white;
    text-align: left;
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 20px;
}


.titlelist {
    display: grid;
    grid-auto-rows: 100px;
    grid-row-gap: 20px;
}

.cblock {
    background: aliceblue;
}
.blwrappper {
    height: 100px;
}

.bltitle {
    font-family: auto;
    padding: 15px;
    font-weight: 800;
    color: darkslategray;
    font-size: 23px;
}
.blcontent {
    padding: 0px 15px;
    font-weight: 345;
    color: darkslategray;
}
.btn {
    position: relative;
    display: inline-block;
    left: 80px;
    background: white;
    padding: 1px 6px 3px 6px;
    border-style: solid;
    border-color: darkgray;
}